# Quality Report

## Version tested: [1.0.3-preview]

## QA Owner: Jason Fu
## UX Owner: Yuncong Zhang

## Test strategy
* Results from the package's editor and runtime test suite.
```
Overall result: PASS
Total Tests run: 4, Passed: 4, Failures: 0, Errors: 0, Inconclusives: 0
Total not run : 0, Invalid: 0, Ignored: 0, Skipped: 0
```
* Test Rail Scenarios:https://qatestrail.hq.unity3d.com/index.php?/suites/view/67&group_by=cases:section_id&group_order=asc&group_id=76244
* Editor/Runtime Test Suite:
* Manual test Results: https://qatestrail.hq.unity3d.com/index.php?/runs/view/13298&group_by=cases:section_id&group_order=asc

## Package Status
* package stability
	* Stable